section#partners.partners
  .container
    .partners__content
      .partners__header
        h2.partners__title.title Партнеры
        span.partners__description Биржи с которыми мы сотрудничаем
      .partners__inner
        picture.partners__img
          source(media="(max-width: 1200px)", srcset="${require('images/binance-md.svg')}")
          img(srcset="${require('images/binance.svg')}", alt="Binance")
        picture.partners__img
          source(media="(max-width: 1200px)", srcset="${require('images/huobi-md.svg')}")
          img(srcset="${require('images/huobi.svg')}", alt="Huobi")
        picture.partners__img
          source(media="(max-width: 1200px)", srcset="${require('images/okex-md.svg')}")
          img(srcset="${require('images/okex.svg')}", alt="Okex")
        picture.partners__img
          source(media="(max-width: 1200px)", srcset="${require('images/bitfinex-md.svg')}")
          img(srcset="${require('images/bitfinex.svg')}", alt="Bitfinex")
        picture.partners__img
          source(media="(max-width: 1200px)", srcset="${require('images/hitbtc-md.svg')}")
          img(srcset="${require('images/hitbtc.svg')}", alt="Hitbtc")
        picture.partners__img
          source(media="(max-width: 1200px)", srcset="${require('images/bitstamp-md.svg')}")
          img(srcset="${require('images/bitstamp.svg')}", alt="Bitstamp")