section#opportunities.opportunities
  .container
    .opportunities__content
      h2.opportunities__title.title Наши возможности
      .opportunities__card
        img.opportunities__card-img(srcset="${require('images/trends.svg')}", alt="Treds")
        span.opportunities__card-title Покажем тренды
        p.opportunities__card-text 
          | Робот-помощник анализирует актив&nbsp;и&nbsp;дает&nbsp;рекомендации по 
          | направлению&nbsp;торговли&nbsp;на нескольких&nbsp;таймфреймах:&nbsp;H1, М30 и М15
        span.opportunities__card-subtitle Как использовать
        p.opportunities__card-text
          | Не рекомендовано торговать в шорт если бот рекомендует 
          | торговать в лонг на всех таймфреймах.
      .opportunities__card
        img.opportunities__card-img(srcset="${require('images/profit.svg')}", alt="Treds")
        span.opportunities__card-title Stop lose & Take Profit
        p.opportunities__card-text 
          | Робот-помощник анализирует волатильность&nbsp;актива&nbsp;за несколько 
          | дней,&nbsp;рассчитывает&nbsp;размер Stop lose&nbsp;и&nbsp;многоуровневый&nbsp;Take 
          | profit для&nbsp;возможности&nbsp;максимизации прибыль&nbsp;и&nbsp;минимизации убытков.
        span.opportunities__card-subtitle Как использовать
        p.opportunities__card-text
          | Получив рассчитанные Stop lose и Take profit вам остается выставить ордера.
      .opportunities__card
        img.opportunities__card-img(srcset="${require('images/volatility.svg')}", alt="Treds")
        span.opportunities__card-title Волатильность
        p.opportunities__card-text 
          | Робот-помощник анализирует актив и показывает волатильность в процентах и пунктах. 
        span.opportunities__card-subtitle Как использовать
        p.opportunities__card-text
          | Чем больше/меньше волатильность, тем больше/меньше должны быть стоп-лос 
          | и тейк-профиты.
      .opportunities__card
        img.opportunities__card-img(srcset="${require('images/levels.svg')}", alt="Treds")
        span.opportunities__card-title Ближайшие уровни
        p.opportunities__card-text 
          | Робот-помощник анализирует актив и показывает два ближайших ценовых 
          | уровня в рамках 500 свечей 
        span.opportunities__card-subtitle Как использовать
        p.opportunities__card-text
          | Необходимо нанести на график уровни показанные ботом. На этих ценовых уровнях скапливается большая ликвидность. 
          | От этих ценовых уровнях будут сильные движения.
      .opportunities__card
        img.opportunities__card-img(src="${require('images/info.svg')}", alt="Treds")
        span.opportunities__card-title Актуальная информация
        p.opportunities__card-text 
          | Отображает цену актива в долларах и биткойнах. 
        span.opportunities__card-subtitle Как использовать
        p.opportunities__card-text
          | Помогает следить за ценой выбранного актива. если вы не за компьютером. 